:host {
    display: block;
    transition: filter .3s ease;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
}

:host(:hover) {
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.2));
}

.ticket-container {
    border-radius: 4px;
    background: white;
    cursor: pointer;
    clip-path: url(#ticketClipPath);
}

.cover-image-container {
    width: 60%;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-right: 4px;
}

.cover-image {
    padding-bottom: 50%;
    position: relative;
}

.cover-image::after {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    top: 0;
    right: -4px;
    bottom: 0;
    border-right: 8px dotted #EFEFEF;
}

.cover-image iron-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.info {
    padding: 16px 24px 24px 32px;
    min-width: 0;
}

h3 {
    margin-bottom: 0;
}

.caption {
    font-size: 13px;
    font-weight: bold;
    color: var(--paper-grey-400);
    margin-bottom: 16px;
}

.description {
    min-height: 0;
    position: relative;
    overflow: hidden;
    line-height: 1.4;
}

.description::after {
    content: '';
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.4em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
